body
{	
	
}
.padding
{
	padding: 80px 120px;
}
.top-margin
{
	margin-top: 7px;
}
.margin-right:
{
	padding-right: 50px;
}
.noscript-span
{
	display: block;
	font-size: 18pt;
	padding: 50px 50px 50px 50px;
	margin: 0px 0px 10px 0px;
	background-color: #CDCACA;
	text-align: center;
}
.row p
{
	padding: 5px 5px 0 0;
}
.navbar-inverse
{
	width: 100% !important;
	opacity: 1.0;
}

.jumbotron
{
	position: relative;
	background: #000 url("http://a.waifu.eu/OEkq.png") center center;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	color: #E6E6E6;
	border-bottom: 3px solid gray;
}

.margin-right
{
	margin-right: 7px;
}