body
{	
	
}

.padding
{
	padding: 80px 120px;
}
.top-margin
{
	margin-top: 7px;
}
.margin-right:
{
	padding-right: 50px;
}
.noscript-span
{
	display: block;
	font-size: 18pt;
	padding: 50px 50px 50px 50px;
	margin: 0px 0px 10px 0px;
	background-color: #CDCACA;
	text-align: center;
}
.row p
{
	padding: 5px 5px 0 0;
}
.navbar-inverse
{
	width: 100%;
}


.jumbotron
{
	position: relative;
	/* position behind the navbar */
	/* top: -50px;
	z-index: -1;  */

	background: url("../images/photo.jpg"), #000000;
	background-position: center right, center center;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	color: #F6F6F6;
	border-bottom: 2px solid gray;
}

.margin-right
{
	margin-right: 7px;
}

.eu-cookies
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	color: white;
	background-color: black;
	z-index: 1000;
}

.eu-cookies button
{
	background: green;
	color: white;
}