html, body
{	
	/*margin: 0;
	padding: 0;
	background-color: #DADADA;
	height: 100vh;
	width: 100vw;*/
	/* overflow: hidden; */
}

/* delete this!!!! */
*
{
	color: #FDFDFD;
}

.big-container
{
	background-color: orange;
	display: flex;
	/*overflow: hidden;*/
	height: 100vh;
	width: 100vw;
}

/* affects both our columns, mainly here to override bootstrap tbh fam */
.main-column
{
	background-color: #A6BFBA;		
	/* max-height: 100vh !important; */ /* IS THIS NEEDED ?!!!!!!!!!!!!!!!!! */
	margin: 0 !important; /* OVERRIDE BOOTSTRAP */
	padding: 0 !important; /* OVERRIDE BOOTSTRAP */
}

#column_toplevel_left
{
	min-width: 100px; /* CONSIDER HIDING IT !!! */
}

#column_toplevel_center
{
	-webkit-box-shadow: -3px 0px 4px -3px rgba(0,86,112,1);
	-moz-box-shadow: -3px 0px 4px -3px rgba(0,86,112,1);
	box-shadow: -3px 0px 4px -3px rgba(0,86,112,1);	
}

/* affects every container div in center layout */
.center_content_item
{
	
}

.center_content_container
{
	display: flex;
	width: 100%;
	height: 100%;
	
	background-color: #36393e;
	overflow: overflow-y; /* zpravy budem scrollovat nahoru a dolu */		
	padding: 5px;
	flex-direction: column;
}
.center_messages_container
{
	background-color: red;
	overflow-x: hidden;
	overflow-y: scroll; /* zpravy budem scrollovat nahoru a dolu */
	flex-grow: 1;
	
	border-bottom: 2px solid grey;
	
	background-color: #36393e;
}

.center_header
{
	background-color: blue; /*#383838*/

	display: flex;
	flex-direction: column;
	/*overflow-x: inherit;*/
	white-space: nowrap;
	
}
.header_room_name, .header_room_topic
{
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 0px !important;
	text-overflow: ellipsis ellipsis; /* ... the topic if it's too long */
}
.header_room_name
{
	font-size: 2rem;
}

#input-group-msgline
{
	margin-top: 10px;
}

.left_content_container
{
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #282b30;
	overflow: overflow-y; /* zpravy budem scrollovat nahoru a dolu */		
	flex-direction: column;
}

.left_content_item
{
	display: flex;
}

.left_header
{
	flex-shrink: 1;
	height: 60px;
	background-color: #282b30; /* test*/ 
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.06), 0px -1px 0px rgba(0, 0, 0, 0.06) inset;
	padding: 10px 0px 10px 10px;
}
.left_header .header_text
{
	flex: 2 0 0;
	font-size: 24px;
	background-color: #282b30;
}
.left_header .header_btn
{
	height: 500px;
	padding-left: 10px;
	padding-right: 10px;
}

.left_channels_container
{
	flex-grow: 2;
	background-color: #2e3136;	

}
.left_account_container
{
	margin-top: 5px;
	background-color: #282b30;
}

.log_message
{
	padding: 5px;
}

.log_message_even
{
	background-color: #43464d;
}

.log_message_odd
{
	background-color: inherit;
}

.log_message .timestamp
{
	color: #bebebe;
}

.left_channels_flex_container
{
	background-color: inherit; /* redundant, green */;
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	oveflow-y: scroll;
}

.left_channels_flex_item /* all flex channel items */
{
	width: 100%;
	padding: 5px;
	margin-right: 5px;	

	font-size: 15px;
	line-height: 1.25em;
	position: relative;
	cursor: pointer;
	color: #fff;
	padding: 0;
}

.channel_item 
{
	height: 50px;
	color: #dfdfdf;

}

.channel_item:hover
{
	background-color: #295179;
}

.channel_item a
{
	color: #636669;
}

.channel_item a:hover
{
	color: #ffffff;
}

.channel_item_focused
{	
	/*background-color: #295179;*/
	background: transparent linear-gradient(to left, #fafafa 1%, #fafafa), transparent linear-gradient(to right, #282B30 80%, #2E3136) repeat scroll 0% 0%;
}

.channel_item_focused a
{	
	/*background-color: #295179;*/
	font-weight: bold;
	color: #ffffff;
}

.channel_item_active
{
	font-style: italic;

}

.server_item
{
	height: 60px;
	line-height: 40px;
	font-size: 24px;
	white-space: nowrap;
}

.server_item a:hover
{
	color: #909090;
}

.server_item a
{
	color: #fafafa;
}

.server_item_disconnected 
{
	background-color: ;
	opacity: 0.4;
}

.channel_list
{
	list-style: outside none none;

}