body
{
	font-family: sans-serif;		
	background: #1B7DBF;
	color: #fafafa;
}
#main_container
{
	width: 100%;
	margin: 0 auto;
}

header,footer
{
	/*width: 100vw;*/ /*html5 meme*/
	box-sizing: border-box;
	min-width: 100%;
	padding: 15px 15px;
}


header
{
	height: 100px;
	background-color: #ee1111;
	font-size: 24px;
}
footer
{
	clear: both;
}

#login_container
{
	height: 500px;
	max-width: 70%;
}

input
{
	background-color: #D0EDF7;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 18px;
	width: 70%;
	padding: 5px;
}

label
{
	float: left;
}
